.name {
  color: darkcyan;
}

.rgb {
  color: rgb(255, 1, 12);
}

.hex {
  color: #fab980;
}

.hls {
  color: hsl(31%, 43%, 76%);
}

.rgba {
  color: rgba(255, 20, 147, .4);
  background-color: yellow;
  text-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

.hlsa {
  color: ;
}
