body {
  font: 16px arial;
  background-color: #c0c0c0;
}

.wrapper {
  width: 800px;
  background-color: #ffffff;
}

.padding-example {
  border: 3px solid deeppink;
  text-align: justify;
  padding: 1em 3em 2em 1em;
  font-size: 40px;
  line-height: 1em;
}

.margin-example {
  background-color: darkorange;
  padding: 1em;
  border: 3px solid black;
  margin: 1em 0;
}

.example {
  background-color: firebrick;
  color: white;
}